autostart/
BraveSoftware/
Code/
dconf/
enchant/
eog/
evolution/
gedit/
gnome-control-center/
gnome-session/
goa-1.0/
gtk-3.0/
htop/
ibus/
input-remapper/
nautilus/
neofetch/
pop-shell/
pulse/
qalculate/
racket/
touchegg/
gnome-initial-setup-done/
mimeapps.list
monitors.xml
monitors.xml~
user-dirs.dirs
user-dirs.locale
